@page
@model LoginModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="al-tc-lc" style="background-color:#ECECEC;">
        <div style="padding:25px;">
            <form>
                <br />
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Login">
                </div>
                <br/>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                </div>
                <br />
                <button type="submit" class="btn btn-success  c-b-green">Entrar</button>
            </form>
            <br />
        </div>
    </div>
</div>
